.spacer {
  flex: 1 1 auto;
}

.content {
  padding-top: 64px;
  min-height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  .content {
    padding-top: 56px;
    min-height: calc(100vh - 56px);
  }
}
